body{
    line-height: 1;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
    font-weight: 400;
    background-color:#f2f2f2;


    // General

    a{
        color: #000000;
        &:hover{
            color: #e44d3a;
            text-decoration: none;
        }
    }
    span{
        
        &.active{
            color: #e44d3a;
        }
    }

    .img-preview{
        max-width: 100px;
    }

    .skill-tags{
        height: 28px;
        a{
            &.active{
                color: #ffffff;
                background-color: #e44d3a;
            }
            &:hover{
                color: #ffffff;
                background-color: #e44d3a;
            }

        }
    }

    .logo-sidebar{
        max-width: 150px;
    }

    // Header

    .site-name{
        color:#ffffff;
        &:hover{
            color: #ffffff;
        }
    }
    
    // Commentaires

    .like-com{
        li{
            span{
                background-color: #b2b2b2;
                &.active{
                    background-color: #e44d3a;
                }
            }
            .com{
                top: 0;
            }
        } 
    } 
    
    .like-com li span{
        margin-left: 0;
    }

    .reply-area{
        .row{
            width: 100%;
        }
        .update{
            background-color: #e44d3a;
            color:#fff;
            padding: 9px 25px 8px 25px;
            line-height: 37px;
            border-radius: 3px;
        }
    }

    // User
    
    .usy-dt{
        img{
            max-width: 40px;
        }
    }
    .user-account{
        width: auto;
    }
    .user-info{
        img{
            max-width: 30px;
        }
    }
    .user-edit{
        background-color: transparent;
        border: none;
        color:#e44d3a;
        font-size: 14px;
        font-weight: 600;
    }

    .user-profile{
        .ed-opts{
            position: absolute;
            top: 20px;
            right: 34px;

            >a{
                color: #ffffff;
            }
        }
    }

    .company_profile_info{
        .ed-opts{
            position: absolute;
            top: 20px;
            right: 34px;
        }
    }

    // Post

    .postcomment{
        img{
            max-width: 40px;
        }
    }
}